<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            async function send_feedback() {
                const txt = document.getElementById("feedback").value;
                if (txt === "") {
                    return;
                }
                const url = `/feedback?txt=${encodeURIComponent(txt)}`;
                const req = new XMLHttpRequest();
                req.open("POST", url, true);
                console.log("sending", req);
                req.send(null);
                document.getElementById("feedback").value = "";
            }
        </script>
    </head>
    <body>
        <%- include("navbar.ejs") %>
        <main>
            <label for="feedback">Enviar feedback:</label>
            <br>
            <textarea id="feedback" name="feedback" rows="10" cols="80"></textarea>
            <br>
            <button onClick="send_feedback()">Enviar</button>
        </main>
    </body>
</html>

