<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            async function send_feedback() {
                const text = document.getElementById("feedback").value;
                const url = `/feedback?text=${encodeURIComponent(text)}`;
                const req = new XMLHttpRequest();
                req.open("POST", url, true);
                console.log("sending", req);
                req.onload = () => {
                    console.log("onload", req);
                    if (req.readyState === req.DONE) {
                        const res = req.responseText;
                        console.log("got", res);
                    }
                }
                req.send(null);
            }
        </script>
    </head>
    <body>
        <%- include("navbar.ejs") %>
        <main>
            <label for="feedback">Enviar feedback:</label>
            <br>
            <textarea id="feedback" name="feedback" rows="10" cols="80"></textarea>
            <br>
            <button onClick="send_feedback()">Enviar</button>
        </main>
    </body>
</html>

