<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="login">Login</a>
            <a href="register">Register</a>
            <a href="submit">Submit</a>
        </nav>
        <main>
            <h1> Sign Up </h1>
            <form action="/">
                <label for="text">Username: </label>
                <input type="text" name="username" required>
                <br>
                
                <label for="password">Password: </label>
                <input type="password" name="password" required>
                <br>

                <button type="submit">Sign Up</button>
                <br>
            </form>
        </main>
    </body>
</html>
