<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <%- include("navbar.ejs") %>
        <main>
            <h1>Submit</h1>
            <form action="/">
                <label for="Nome">Name: </label>
                <input type="text" name="name" required>
                <br>
                
                <label for="img">Image: </label>
                <input type="url" name="img" required>
                <br>

                <label for="select">Select: </label>
                <select name="select">
                    <option value="select1">Select 1</option> 
                    <option value="select2">Select 2</option> 
                    <option value="select3">Select 3</option> 
                    <option value="select4">Select 4</option> 
                </select>
                <br>

                <button type="submit">Submit</button>
                <br>
            </form>
        </main>
         
    
    </body>
</html>
